@font-face{
    src:url("../fonts/Montserrat-Bold.ttf");
    font-family:"Monserrat-Bold";
}
@font-face{
    src:url("../fonts/Hind-Light.ttf");
    font-family:"Hind-Light";
}
@font-face{
    src:url("../fonts/Hind-Medium.ttf");
    font-family:"Hind-Medium";
}
@font-face{
    src:url("../fonts/Hind-Regular.ttf");
    font-family:"Hind-Regular";
}
.main-container{
    background-color: #f9f9fb;
}
.m-container1{
    width: 93%;
    height: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
}
.m-container1 p{
        font-size: 20px;
        font-family: "Monserrat-Bold";
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #212121;
        margin-left: 2%;
}
.button{
    width: 280px;  
    height: 50px;
    background-color: #212121;
    display: flex;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.button-a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Hind-Medium";
    color: #fff;
}
.input-name ,.input-address{
    width: 36%;
    height: 50px;
    background-color: #fff;
    position: relative;
    margin-right: 2%;
}
.input-name p ,.input-address p{
    position: absolute;
    left: 8%;
    line-height: 50px;
        font-size: 15px;
        font-family: "Hind-Medium";
        color: rgb(153, 153, 153);
        text-transform: uppercase;      
}
.m-container2{
    width: 100%;
    height: 1680px;
}
.inside-m-container2{
    width: 93%;
    height: 1530px;
    margin: 0 auto;
    margin-top: 75px;
    display:flex;
    justify-content: space-between;
}
.column{
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;    
}
.item{
    height: 32%;
    width: 100%;
    border:1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.col2 .it1, .col2 .it3{
    flex-basis:38%;
}
.col2 .it2{
    flex-basis:20%;
}
.col3 .it1{
flex-basis: 25%;
}
.col3 .it2, .col3 .it3{
    flex-basis: 35%;
}
.col4 .it1{
flex-basis: 40%;
}
.col4 .it2, .col4 .it3{
  flex-basis: 28%;
}
.above-it-img{
    width: 40px;
    height: 35px;
    background-color: black;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.it-text{
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
}
.item h5{
    font-size: 13px;
    font-family: "Hind-Regular";
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.item h2{
    font-size: 20px;
    font-family: "Monserrat-Bold";
    letter-spacing: 1px;
    text-transform: uppercase;
}
.item p{
    font-size: 15px;
    font-family: "Hind-Light";
    letter-spacing: 1px;
    line-height: 22px;
    margin:0 8.3% 0 8.3%;
}
.button-readMore{
    width: 130px;
    height: 30px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-readMore a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Hind-Medium";
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.it-bottom-comments{
    width: 100%;
    height: 60px;
    border-top: 1px solid #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.it-b-container{
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.it-b-comment{
    width: 43%;
}
.it-b-comment img{
    float: left;
}
.it-b-comment p{
    font-size: 13px;
    font-family: "Hind-Regular";
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -2px;
}
.it-b-icons{
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col1 .it3{
    background-image: url(../img/main/bg-layer.png);
    justify-content: space-around;
}