@font-face{
    src:url("../fonts/Montserrat-Bold.ttf");
    font-family:"Monserrat-Bold";
}
@font-face{
    src:url("../fonts/Hind-Light.ttf");
    font-family:"Hind-Light";
}
@font-face{
    src:url("../fonts/Hind-Medium.ttf");
    font-family:"Hind-Medium";
}
.m-container1{
    width: 93%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
    
}
.m-container1 p{
        font-size: 20px;
        font-family: "Monserrat-Bold";
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #212121;
        margin-left: 2%;
}
.button{
    width: 280px;  
    height: 50px;
    background-color: #212121;
    display: flex;
    margin-right: 2%;
    align-items: center;
    flex-wrap: nowrap;
}
.button-a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Hind-Medium";
    color: #fff;
}
.input-name ,.input-address{
    width: 36%;
    height: 50px;
    background-color: #fff;
    position: relative;
    margin-right: 2%;
}
.input-name p ,.input-address p{
    position: absolute;
    left: 8%;
    line-height: 50px;
        font-size: 15px;
        font-family: "Hind-Medium";
        color: rgb(153, 153, 153);
        text-transform: uppercase;      
}
.m-container2{
    width: 100%;
    height: 1680px;
}
.inside-m-container2{
    width: 93%;
    height: 1530px;
    display:flex;
    justify-content: space-between;
}
.column{
    height: 100%;
    width: 20%;
    border: 1px solid black;
}
